<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/images/weather-pic.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}} 
        <p>This site was created by Adam Hostin. It uses api.open-meteo.com and mapbox.com geocoding to show current temperature for given location.</p>
        <img class="portrait" src="/images/profile-pic.png">
    </div>
    {{>footer}}
</body>

</html>