<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}} 
    <br>What about?<br>Me dummy<br>
    <img src="/images/profile-pic.png">
    {{>footer}}
</body>

</html>