<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/images/weather-pic.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}} 
        <br>What about?<br>Me dummy<br>
        <img class="portrait" src="/images/profile-pic.png">
    </div>
    {{>footer}}
</body>

</html>